.avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0.5rem;
}

.squared {
  border-radius: 8px;
}

.av_xs {
  width: 24px;
  height: 24px;
}

.av_sm {
  width: 32px;
  height: 32px;
}

.av_md {
  width: 48px;
  height: 48px;
}

.av_lg {
  width: 64px;
  height: 64px;
}

.av_xl {
  width: 96px;
  height: 96px;
}

.av_2xl {
  width: 128px;
  height: 128px;
}

.avatar_badge {
  position: relative;
}

.noti_badge {
  position: absolute;
  right: 0.6rem;
  bottom: 48px;
  font-size: 0.8rem;
  background-color: var(--danger-color);
  border-radius: 100%;
  padding: 0.1rem 0.2rem;
  color: white;
}

.noti_icon {
  position: absolute;
  bottom: 44px;
  right: 0.6rem;
  font-size: 1.3rem;
  color: var(--danger-color);
}
