<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Images | DoraUI</title>
    <link rel="stylesheet" href="../pageNav.css" />
    <link rel="stylesheet" href="../../sideNav.css" />
    <link rel="stylesheet" href="../component.css" />
    <link rel="icon" href="../../assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div class="navigation-bar">
      <div class="logo">
        <a href="../../index.html">
          <img src="../../assets/logo-res-bg.png" alt="" class="logo_img" />
        </a>
      </div>

      <div class="humber-icon">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <a href="#"><img class="modeIcon" src="../../assets/moon.svg" alt="" /></a>

    <div class="container">
      <nav class="sidebar-wrapper trans-off">
        <div class="logo">
          <a href="../../index.html"
            ><img src="../../assets/logo.png" alt="" class="logo_img"
          /></a>
        </div>

        <ul class="nav_list">
          <li><a href="../Alerts/alerts.html" class="nav_item">Alerts</a></li>
          <li>
            <a href="../Avatars/avatars.html" class="nav_item">Avatars</a>
          </li>
          <li><a href="../Badges/badges.html" class="nav_item">Badges</a></li>
          <li>
            <a href="../Buttons/buttons.html" class="nav_item">Buttons</a>
          </li>
          <li><a href="../Cards/cards.html" class="nav_item">Cards</a></li>
          <li>
            <a href="../Images/images.html" class="nav_item active">Images</a>
          </li>
          <li><a href="../Inputs/inputs.html" class="nav_item">Inputs</a></li>
          <li>
            <a href="../Typography/typography.html" class="nav_item"
              >Typography</a
            >
          </li>
          <li><a href="../Lists/lists.html" class="nav_item">Lists</a></li>
          <li><a href="../Modal/modal.html" class="nav_item">Modal</a></li>
          <li>
            <a href="../Navigation/navigation.html" class="nav_item"
              >Navigation</a
            >
          </li>
          <li><a href="../Rating/rating.html" class="nav_item">Rating</a></li>
          <li><a href="../Toasts/toasts.html" class="nav_item">Toasts</a></li>
          <li>
            <a href="../Grid/grid.html" class="nav_item">Simplified Grid</a>
          </li>
          <li><a href="../Slider/slider.html" class="nav_item">Slider</a></li>
        </ul>

        <div class="social_icons">
          <a class="icon" target="_blank" href="https://github.com/simran61"
            ><i class="fab fa-github-alt"></i
          ></a>
          <a
            class="icon"
            target="_blank"
            href="https://www.linkedin.com/in/simran-gangwani-b93a441b2/"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a
            class="icon"
            target="_blank"
            href="https://simran-gangwani.netlify.app/"
            ><i class="fas fa-code"></i
          ></a>
          <a
            class="icon"
            target="_blank"
            style="margin-bottom: 0px"
            href="https://twitter.com/SimranGangwani3"
            ><i class="fab fa-twitter"></i
          ></a>
        </div>
      </nav>

      <div class="main">
        <div class="primary_heading">
          <span class="letter brand_letter">I</span>
          <span class="letter">m</span>
          <span class="letter">a</span>
          <span class="letter">g</span>
          <span class="letter">e</span>
          <span class="letter">s</span>
        </div>
        <p class="component_desc">
          Images can help you to attract attention and to guide your visitor's
          line of sight. DoraUI offers two types of images which changes its
          aspect ratio according to your screen size.
        </p>

        <!-- Responsive Image -->
        <div>
          <h2 class="component_heading">Responsive Image</h2>
          <div class="component_container">
            <img
              src="https://i.pinimg.com/736x/01/f0/df/01f0df54efa61b678cf657783fb98f93.jpg"
              alt="responsive image"
              class="image_wrapper"
            />

            <img
              src="https://i.pinimg.com/736x/96/ff/8a/96ff8a943cf38e73166aff33c7d2f98d.jpg"
              alt="responsive image"
              class="image_wrapper hide-sm"
            />

            <img
              src="https://i.pinimg.com/736x/40/76/78/40767864df9902339dd2ac8f5eb0acc8.jpg"
              alt="responsive image"
              class="image_wrapper"
            />
          </div>
          <div class="code_wrapper">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=33px&ph=37px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522doraemon.png%2522%2520alt%253D%2522responsive%2520image%2522%2520class%253D%2522image_wrapper%2522%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
              style="
                width: 100%;
                height: 159px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>

        <!-- Rounded Image -->
        <div>
          <h2 class="component_heading">Rounded Image</h2>
          <div class="component_container">
            <img
              src="https://i.pinimg.com/564x/43/06/64/430664ec989e9d109c10ee6bc24bf777.jpg"
              alt="round img"
              class="image_wrapper rounded_img"
            />
            <img
              src="https://i.pinimg.com/564x/1a/84/86/1a8486fc573519305dca38104003cc16.jpg"
              alt="round img"
              class="image_wrapper rounded_img"
            />
            <img
              src="https://i.pinimg.com/736x/9b/d8/5d/9bd85d393b87136fa79caa8c902297db.jpg"
              alt="round img"
              class="image_wrapper rounded_img hide-sm"
            />
          </div>
          <div class="code_wrapper">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=33px&ph=37px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522doraemon.png%2522%2520alt%253D%2522round%2520img%2522%2520class%253D%2522image_wrapper%2520rounded_img%2522%253E%250A%253Cimg%2520src%253D%2522doraemon.png%2522%2520alt%253D%2522round%2520img%2522%2520class%253D%2522image_wrapper%2520rounded_img%2522%253E%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cimg%2520src%253D%2522doraemon.png%2522%2520alt%253D%2522round%2520img%2522%2520class%253D%2522image_wrapper%2520rounded_img%2522%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
              style="
                width: 100%;
                height: 196px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="../main.js"></script>
    <script src="../themeToggle.js"></script>
  </body>
</html>
