.grid {
  display: grid;
  text-align: center;
  color: var(--white-color);
  border: 1px solid var(--border-color-light);
  background-color: var(--component-bg);
}

.grid > div {
  padding: 1rem;
  border: 1px solid var(--border-color-light);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-responsive {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
