.toast{
    background-color: var(--primary-color-cl);
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    border-radius: 0.5rem;
    color: var(--white-color);
    width: 70%;
    font-weight: 500;
    box-shadow: 0.313rem 0.313rem 0.5rem var(--nav-item-color);
}

.hide_toast>i{
    color: var(--white-color);
}

.hide_toast{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.hide_toast:hover{
    color: var(--scrollbar-color);
}
