.range_box{
    display: flex;
    align-items: center;
}

.range_box .slider{
    height: 2.5rem;
    width: 30%;
    display: flex;
    align-items: center;
}

.range_box .slider input{
    height: 0.3rem;
    width: 100%;
    outline: none;
}

.range_box .value{
    margin-left: 0.94rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-color);
}
