:root {
  --black-color: rgb(0, 0, 0);
  --dark-nav-color: rgb(17, 17, 17);
  --body-bg: rgb(26, 26, 26);
  --border-color: rgb(49, 49, 49);
  --border-color-light: rgb(72, 72, 72);
  --dark-color-cl: rgb(52, 52, 53);
  --grey-text: rgb(83, 83, 83);
  --shadow-color: rgba(17, 17, 17, 0.664);
  --component-container: rgb(45, 45, 45);
  --component-bg: rgb(23, 23, 23);
  --alert-color: rgb(165, 163, 163);
  --disabled: rgb(67, 67, 67);

  --nav-item-color: rgb(121, 120, 120);
  --tagline-color: rgb(179, 177, 177);
  --md-grey: rgb(199, 198, 198);
  /* --light-bg: rgb(211, 210, 210); */
  --light-grey: rgb(231, 231, 231);
  --white-smoke-color: rgb(245, 245, 245);
  --white-color: rgb(255, 255, 255);

  --info-bg: rgb(221, 235, 251);
  --primary-color: rgb(43, 123, 184);
  --primary-dark: rgb(38, 112, 168);
  --scrollbar-color: rgb(29, 84, 126);
  --info-dark: rgb(31, 152, 217);
  --info-shadow: rgb(41, 33, 79);

  --secondary-color: #fd2155;

  --error-bg: #fed7d7;
  --error-dark: #fd4e4e;
  --danger-color: rgb(250, 52, 52);
  --error-shadow: #8b2929;

  --success-bg: #c6f6d5;
  --success-shadow: #2ea388;
  --success-darker: #27856f;
  --success-dark: #3ad4af;
  --online-color: rgb(27, 172, 51);
  --success-color-cl: #13921a;

  --warning-bg: #feebc8;
  --warning-shadow: #b88c2d;
  --warning-dark: #c19612;
  --warning-color-cl: #f1bb16;
  --warning-dark: #fdc040;
}

.light_theme {
  /* --body-color: #b5c7d4; */
  --grey-text: rgb(165, 163, 163);
  /* --secondary-color: #fd2155; */
  /* --primary-color: #2b7bb8; */
  --dark-nav-color: #fff;
  --tagline-color: rgb(83, 82, 82);
  /* --nav-item: rgb(83, 83, 83); */
  --body-bg: #f4f4f5;
  /* --light-bg: rgb(211, 210, 210); */
  --white-color: black;
  --nav-item-color: rgb(73, 72, 72);
  --component-bg: #fafafa;
  --alert-color: black;
  --component-container: rgb(255, 255, 255);
  --border-color: #e0dfde;
  --border-color-light: #e0dfde;
  --disabled: rgb(232, 232, 232);

  /* --white-color: rgb(24, 24, 24); */
  --border-color: #e0dfde;
}
