@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d547e;
}

.theme_color {
  /* color: var(--primary-color); */
}

.padding_tb_0_7 {
  padding: 0.7rem 0;
}

.component_desc {
  padding: 0.7rem 0;
}

.mr_top_1_5 {
  margin-top: 1.5rem;
}

.mr_top_md {
  margin: 2rem 0 1rem 0;
}

.component_heading {
  color: var(--primary-color);
  margin-top: 1.5rem;
}

body {
  display: flex;
  color: var(--white-color);
  background-color: var(--body-bg);
  overflow-x: hidden;
}

.main {
  padding: 2rem;
  padding-left: 16rem;
  width: 85%;
}

.modeIcon {
  position: fixed;
  z-index: 50;
  height: 35px;
  right: 5rem;
  top: 2rem;
  cursor: pointer;
  color: var(--secondary-color);
}

nav {
  background-color: var(--dark-nav-color);
  width: 220px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_list > li {
  padding: 1rem 0 0 2rem;
}

.nav_item {
  font-weight: 400;
  color: var(--tagline-color);
}

.nav_item:hover,
.icon:hover,
.active {
  color: var(--primary-color);
  cursor: pointer;
}

.logo {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
}

.logo_img {
  width: 100.8px;
  height: 85px;
}

.social_icons {
  text-align: center;
  margin: 1rem 0 0.7rem 0;
}

.icon {
  color: var(--nav-item-color);
  margin: 7px;
  font-size: 1.1rem;
}

.primary_heading {
  font-size: 4rem;
  font-weight: 800;
  display: flex;
}

.class_name {
  color: var(--primary-color);
  font-weight: 600;
}

.letter {
  font-family: "Raleway", sans-serif;
  color: var(--primary-color);
}

.brand_letter {
  color: var(--secondary-color);
  text-shadow: -4px -4px var(--primary-color);
}

.letter:hover {
  color: white;
  animation: jellyBounce 0.6s;
}

.brand_letter:hover {
  color: var(--secondary-color);
  animation: jellyBounce 0.6s;
}

@keyframes jellyBounce {
  25% {
    transform: scale(0.5, 1.4);
  }
  50% {
    transform: scale(1.6, 0.8);
  }
  75% {
    transform: scale(0.7, 1.4);
  }
}

.component_container {
  background-color: var(--component-container);
  border: 1px solid var(--border-color-light);
  border-radius: 0.7rem;
  margin: 1rem 0 2rem 0;
  display: block;
  padding: 1rem;
  width: 100%;
}

.show_flex {
  display: flex;
  flex-wrap: wrap;
}

.justify_evenly {
  justify-content: space-evenly;
}

.rounded {
  border-radius: 50%;
}

.tagline {
  margin-top: 0.3rem;
}

.desc {
  color: black;
}

a {
  text-decoration: none;
  font-weight: 550;
}

.margin_top_sm {
  margin-top: 0.94rem;
}

.padding_sm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.show_input {
  display: flex;
  width: fit-content;
}

.set_width {
  width: 600px;
}

.star_rating {
  text-align: center;
}

.black_para {
  color: var(--white-color);
  margin: 1rem 0;
  font-weight: 500;
  text-align: center;
}

/* responsive menu */
.navigation-bar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--black);
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.humber-icon {
  color: var(--main-color);
}

.navigation-bar > .logo > a > img {
  /* width: 40px; */
  /* height: auto; */
  height: 50px;
  width: auto;
}

.navigation-bar > .logo {
  padding: 0;
}

.humber-icon > i {
  font-size: 1.5rem;
}

@media screen and (max-width: 950px) {
  .modeIcon {
    height: 25px;
    top: 1.2rem;
  }

  .trans-on {
    left: 0;
    transition: left 0.5s ease-out;
  }

  .trans-off {
    left: -260px;
    transition: left 0.5s ease-out;
  }

  .sidebar-wrapper {
    z-index: 5;
  }

  .sidebar-main {
    font-size: 1.2rem;
  }

  .main {
    margin-top: 3.75rem;
    padding: 2rem;
    padding-left: 2rem;
    width: 100%;
  }

  .navigation-bar {
    display: flex;
    align-items: center;
    padding: 0.4rem 2rem;
    background-color: var(--body-bg);
  }

  nav {
    z-index: 100000000;
  }
}

/* code snippet */
.code_wrapper {
  width: 80%;
}

@media screen and (max-width: 1250px) {
  .code_wrapper {
    width: 100%;
  }
}
