.alert {
  display: flex;
  border-radius: 10px;
  padding: 8px 12px;
  color: var(--black-color);
  align-items: center;
  margin: 16px;
  max-width: 600px;
}

.alert_icon {
  font-size: 1.7rem;
  font-weight: 900;
  border-radius: 100%;
  margin-right: 12px;
}

.alert_icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
}

.alert_text {
  font-weight: 500;
}

.alert_desc {
  font-size: 13px;
  margin-top: 4px;
}

.success_alert {
  background-color: var(--success-bg);
}

.success_al_icon {
  color: var(--success-bg);
  text-shadow: 0.063rem 0.25rem var(--success-darker);
  background-color: var(--success-dark);
}

.warning_alert {
  background-color: var(--warning-bg);
}

.warning_al_icon {
  color: var(--warning-bg);
  text-shadow: 3px 2px var(--warning-darker);
  background-color: var(--warning-dark);
}

.info_alert {
  background-color: var(--info-bg);
}

.info_al_icon {
  color: var(--info-bg);
  text-shadow: 3px 2px var(--info-shadow);
  background-color: var(--info-dark);
}

.error_alert {
  background-color: var(--error-bg);
}

.error_al_icon {
  color: var(--error-bg);
  text-shadow: 1.5px 4px var(--error-shadow);
  background-color: var(--error-dark);
}

.success_outline {
  color: var(--white-color);
  border: 0.19rem solid var(--success-dark);
  background-color: var(--component-bg);
}

.warning_outline {
  color: var(--white-color);
  border: 0.19rem solid var(--warning-dark);
  background-color: var(--component-bg);
}

.info_outline {
  color: var(--white-color);
  border: 0.19rem solid var(--info-dark);
  background-color: var(--component-bg);
}

.error_outline {
  color: var(--white-color);
  border: 0.19rem solid var(--error-dark);
  background-color: var(--component-bg);
}

@media screen and (max-width: 950px) {
  .alert_text {
    font-size: 14px;
  }

  .alert_desc {
    font-size: 12px;
    margin-top: 2px;
  }
}
