.alert{
    display: flex;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    color: var(--black-color);
    align-items: center;
    margin: 1rem;
}

.alert_icon{
    font-size: 1.7rem;
    padding: 0.3rem;
    border-radius: 100%;
    margin-right: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
}

.alert_text{
    font-weight: 500;
}

.success_alert{
    background-color: var(--success-bg);
}

.success_al_icon{
    color: var(--success-bg);
    text-shadow: 0.063rem 0.25rem var(--success-shadow);
    background-color: var(--success-dark);
}

.warning_alert{
    background-color: var(--warning-bg);
}

.warning_al_icon{
    color: var(--warning-bg);
    text-shadow: 0.19rem 0.19rem var(--warning-shadow);
    background-color: var(--warning-dark);
}

.info_alert{
    background-color: var(--info-bg);
}

.info_al_icon{
    color: var(--info-bg);
    text-shadow: 0.25rem 0.125rem var(--info-shadow);
    background-color: var(--info-dark);
}

.error_alert{
    background-color: var(--error-bg);
}

.error_al_icon{
    color: var(--error-bg);
    text-shadow: 0.125rem 0.19rem var(--error-shadow);
    background-color: var(--error-dark);
}

.success_outline{
    border: 0.19rem solid var(--success-dark);
    background-color: var(--white-color);
}

.warning_outline{
    border: 0.19rem solid var(--warning-dark);
    background-color: var(--white-color);
}

.info_outline{
    border: 0.19rem solid var(--info-dark);
    background-color: var(--white-color);
}

.error_outline{
    border: 0.19rem solid var(--error-dark);
    background-color: var(--white-color);
}