.input_field_standard{
    margin: 0.5rem 1rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid var(--border-color);
}

.input_field_standard:hover{
    border: 2px solid var(--primary-color-cl);
}

.input_field_standard:focus{
    border: 2px solid var(--primary-color-cl);
}

.input_field{
    margin: 0.2rem 1rem;
    padding: 0.7rem 1rem;
    border: 2px solid var(--primary-color-cl);
    border-radius: 0.7rem;
    outline: none;
}

.inp_text_danger{
    color: var(--danger-color-cl);
    font-weight: 600;
    margin-left: 1rem;
}

.inp_text_warning{
    color: var(--warning-color-cl);
    font-weight: 600;
    margin-left: 1rem;
}

.inp_text_success{
    color: var(--success-color-cl);
    font-weight: 600;
    margin-left: 1rem;
}

.disabled_field{
    pointer-events: none;
    background-color: var(--tagline-color);
}

.primary_inp{
    border: 2px solid var(--primary-color-cl);
}

.success_inp{
    border: 2px solid var(--success-color-cl);
}

.warning_inp{
    border: 2px solid var(--warning-color-cl);
}

.danger_inp{
    border: 2px solid var(--danger-color-cl);
}

.dark_inp{
    border: 2px solid var(--dark-color-cl);
}

.radio, .checkbox{
    display: block;
    margin: 1rem;
}

.radio_text, .chechbox_text{
    color: var(--primary-color-cl);
    font-weight: 600;
    margin-left: 0.3rem;
}